<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">

  <style type="text/css">
    body {
      background: #f3f3f3;
      margin-top: 20px;
      color: #616f80;
    }
    .card {
      border: none;
      margin-bottom: 24px;
      -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
      box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
    }
  </style>

</th:block>

<th:block layout:fragment="script">
  <script>
    
    $(function () {
      $('tr td:not(:last-child)').click(function() {
        var pjtId = $(this).closest('tr').find('#pjtId').val();
        $('iframe').attr("src","/project/" + pjtId);
        $('.modal').css({"display":"block"});
      });

      $('.modal').click(function () {
        $(this).css("display","none");
      });
      $('#modalCloseBtn').click(function () {
        $('.modal').css("display","none");
      });

      $('.projectDeleteBtn').click(function () {
        var pjtId = $(this).closest('tr').find('#pjtId').val();
        var pjtNm = $(this).closest('tr').find('#pjtNm').text();
        var returnVal = confirm('\'' + pjtNm + "' 프로젝트를 삭제하시겠습니까?");
        console.log(pjtId);
        var requestParam = {
          'pjtId' : pjtId
        }

        if(returnVal){
          $.ajax({
            type:"DELETE",
            url:"/project/delete",
            data:requestParam,
            success:function (res) {
              console.log(res);
            }
          });
        }else{
          return false;
        }

      })
    });
  </script>
</th:block>

<div layout:fragment="content">
  <div class="container">
    <a href="/oauth2/authorization/google">Google Login</a>
    <p th:if="${user != null}" th:text="${user.name}"></p>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-archive text-primary h4 ml-3"></i>
            </div>
            <h5 class="font-size-20 mt-0 pt-1">24</h5>
            <p class="text-muted mb-0">Total Projects</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-th text-primary h4 ml-3"></i>
            </div>
            <h5 class="font-size-20 mt-0 pt-1">18</h5>
            <p class="text-muted mb-0">Completed Projects</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-pattern">
          <div class="card-body">
            <div class="float-right">
              <i class="fa fa-file text-primary h4 ml-3"></i>
            </div>
            <h5 class="font-size-20 mt-0 pt-1">06</h5>
            <p class="text-muted mb-0">Pending Projects</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group mb-0">
                <label>Search</label>
                <div class="input-group mb-0">
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Search..."
                          aria-describedby="project-search-addon"
                  />
                  <div class="input-group-append">
                    <button
                            class="btn btn-danger"
                            type="button"
                            id="project-search-addon"
                    >
                      <i class="fa fa-search search-icon font-12"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive project-list">
              <a class="btn btn-primary mb-2 float-right text-white" href="/project/create">새로운 프로젝트 생성</a>
              <table class="table project-table table-centered table-nowrap">
                <thead>
                <tr>
                  <th scope="col" class="text-center">No.</th>
                  <th scope="col">Projects</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Team</th>
                  <th scope="col">Progress</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                <!--프로젝트가 없을 경우-->
                <tr th:if="${projectList.isEmpty()}" style="cursor: pointer; text-align: center" onmouseover="this.style.backgroundColor='#f5f5f5';" onmouseout="this.style.backgroundColor='#fff';">
                  <td colspan="8">데이터가 없습니다.</td>
                </tr>

                <!--프로젝트가 있을 경우-->
                <tr th:unless="${projectList.isEmpty()}" th:each="project, pjtStat : ${projectList}"
                    th:data-pjtId="${project.pjtId}"
                    style="cursor: pointer"
                    onmouseover="this.style.backgroundColor='#f5f5f5';"
                    onmouseout="this.style.backgroundColor='#fff';">

                  <td th:text="${pjtStat.index + firstConIdx}" class="text-center align-middle"></td>
                  <td th:text="${project.pjtNm}" id="pjtNm" class="align-middle"></td>
                  <td th:text="${project.startDt}" class="align-middle"></td>
                  <td th:text="${project.endDt}" class="align-middle"></td>
                  <td class="align-middle">
                    <span class="font-12">
                      <span th:switch="${project.status}">
                        <span th:case="'0'" th:class="text-secondary" th:text="${project.statusNm}">text-secondary</span>
                        <span th:case="'1'" th:class="text-primary" th:text="${project.statusNm}">text-primary</span>
                        <span th:case="'2'" th:class="text-info" th:text="${project.statusNm}">text-info</span>
                        <span th:case="'3'" th:class="text-success" th:text="${project.statusNm}">text-success</span>
                        <span th:case="'4'" th:class="text-warning" th:text="${project.statusNm}">text-warning</span>
                      </span>
                    </span>
                  </td>
                  <td class="align-middle">
                    <div class="team">
                      <a
                        th:each="member : ${project.memberList}"
                        href="javascript: void(0);"
                        class="team-member"
                        data-toggle="tooltip"
                        data-placement="top"
                        title
                        data-original-title="Roger Drake"
                      >
                        <img class="avatar-xs" th:src="@{/profile/__${member.memImg}__}" th:title="${member.memNm}"/>
                      </a>
                    </div>
                  </td>
                  <td>
                    <p class="mb-0">Progress<span class="float-right"><span th:text="${project.progress}"></span>%</span></p>
                    <div class="progress mt-2" style="height: 5px" th:switch="${project.status}">
                      <div
                        th:case="0" class="progress-bar bg-secondary"
                        role="progressbar"
                        th:style="'width: ' + ${project.progress} + '%'"
                        th:attr="aria-valuenow=${project.progress}, aria-valuemin='0', aria-valuemax='100'"></div>
                      <div
                        th:case="1" class="progress-bar bg-primary"
                        role="progressbar"
                        th:style="'width: ' + ${project.progress} + '%'"
                        th:attr="aria-valuenow=${project.progress}, aria-valuemin='0', aria-valuemax='100'"></div>
                      <div
                        th:case="2" class="progress-bar bg-info"
                        role="progressbar"
                        th:style="'width: ' + ${project.progress} + '%'"
                        th:attr="aria-valuenow=${project.progress}, aria-valuemin='0', aria-valuemax='100'"></div>
                      <div
                        th:case="3" class="progress-bar bg-success"
                        role="progressbar"
                        th:style="'width: ' + ${project.progress} + '%'"
                        th:attr="aria-valuenow=${project.progress}, aria-valuemin='0', aria-valuemax='100'"></div>
                      <div
                        th:case="4" class="progress-bar bg-warning"
                        role="progressbar"
                        th:style="'width: ' + ${project.progress} + '%'"
                        th:attr="aria-valuenow=${project.progress}, aria-valuemin='0', aria-valuemax='100'"></div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <div class="action projectDeleteBtn">
                      <a
                        class="text-danger"
                        data-toggle="tooltip"
                        data-placement="top"
                        title
                        data-original-title="Close"
                      >
                        <i class="fa fa-remove h5 m-0"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="pt-3">
              <ul class="pagination justify-content-end mb-0">
                <li th:class="${currentPage eq 1 || totalPages <= 0} ? 'page-item disabled' : 'page-item'">
                  <a class="page-link" th:attr="aria-disabled=${currentPage eq 1} ? 'true' : null" th:href="@{/?page=__${(currentPage - 2)}__}">Previous</a>
                </li>
                <li th:if="${totalPages > 0}" th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${page eq currentPage} ? 'page-item active' : 'page-item'">
                  <a class="page-link" th:href="@{/?page=__${(page - 1)}__}" th:text="${page}"></a>
                </li>
                <li th:class="${currentPage eq totalPages || totalPages <= 0} ? 'page-item disabled' : 'page-item'">
                  <a class="page-link" th:attr="aria-disabled=${currentPage eq totalPages} ? 'true' : null" th:href="@{/?page=__${(currentPage)}__}">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="projectDetailModal" class="modal modal-l">
    <div class="modal-wrapper">
      <iframe style="width:100%; height:100%;"></iframe>

      <div class="text-right modal-btn">
        <button id="modalCloseBtn" type="button" class="btn btn-primary">닫기</button>
      </div>
    </div>
  </div>
</div>
</html>